<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="nlog" type="NLog.Config.ConfigSectionHandler, NLog"/>
  </configSections>
  <appSettings>
    <add key="nhibernate-logger" value="ByteartRetailMini.Test.NLogFactory, ByteartRetailMini.Test"/>
  </appSettings>
  <connectionStrings>
    <add name="bbm" connectionString="Data Source=WENSHAO-PC;Initial Catalog=ByteartRetailMini;Integrated Security=True;" providerName="System.Data.SqlClient"/>
  </connectionStrings>
  <nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
    <targets>
      <target name="logfile" xsi:type="File" fileName="nhlog.txt" />
    </targets>
    <rules>
      <logger name="NHibernate.SQL" minlevel="Debug" writeTo="logfile" />
    </rules>
  </nlog>
</configuration>